/* Nav */

nav{
  width: 100vw;
  font-family: monospace;
  font-size: 3vh;
  color: black;
  list-style-type: none;
  position: relative;
}

nav ul{
  margin: 2vw 0;
  padding: 0;
  display: flex;
}

nav a{
  text-decoration: none;
  padding: 2vw;
}

.logo{
	position: absolute;
    left: 10px;
    top: 10px;
}

nav body{
  margin: 0;
}

nav button{
  display: none;
}

nav a:hover{
  background-color: #C6E9FF;
}

@media only screen and (max-width: 500px) {
  ul{
    flex-direction: column;
  }

  a{
    display: block;
  }

  li{
    margin: 0;
  }

  button{
    display: block;

    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;
    outline: none;
    cursor: pointer;

    align-self: flex-start;
  }
}
